/* In Cart.css */

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 180px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Add more styles as needed */
  